.categorieProduits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categorieProduits>hr{
    width: 400px;
    border: 2px solid black;
    opacity: 1;
    margin-bottom: 20px;
}
@media (max-width: 500px) {
    .categorieProduits>hr{
        width: 200px;
    }
}
.h2CategorieProduits{
    margin-top: 50px;

}
.containerProduits{
    display: flex;
    justify-content: center;
}

.produits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produits>p{
    width: 300px;
    text-align: center;
}

.imageProduit{
    width: 300px;
}